<footer>
  <section class="description_attaque">
  <div class="description_attaque__FRC">
    <div class="attaque_F">
      <p>Faiblesse</p>
      
    </div>
    <div class="attaque_R">
      <p>Résistance</p>
    </div>
    <div class="attaque_C">
      <p>Coût de retraite</p>
      
    </div>
    </div>
  <div class="description_attaque__img">
    <div class="img1">
    <img src="assets/img/normal.png" />
    
    </div>

    <div class="img2">
    <img src="assets/img/fire.png" />
    </div>
    </div>
  </section>
  <div class="details_pokemon">
    <p>Il y a une étrange plantée sur son dos. Elle grandit avec lui depuis la naissance. NIV 13 No. I</p>
  </div>
</footer>
