<header>
<div class="tout__header">
  <div class="name_pokemon">
    <p class="pokemon">Pokémon de base</p>
    <h1>Bulbizarre</h1>
  </div>
  <div class="score_bulbizarre">
    <p class="score">40 PV</p>
    <img src="assets/img/leaf.png" />
  </div>
  </div>
</header>