<main>
  <div class="pokemon_img">
    <img src="assets/img/bulbizarre.jpg" />
  </div>
  <div class="description_pokemon">
    <p>Pokémon Graine. Taille: 0,7m, poids: 6,9kg</p>
  </div>
  <div class="attaque_pokemon">
   <div class="attaque_pokemon--feuille">
   <img src="assets/img/leaf.png" />
    <img src="assets/img/leaf.png" />
    </div>
    <div class="attaque_pokemon--text">
    <p><span>Vampigraine</span> A moins que tous les dégâts infligés par cette attaque ne soient prévenus, bous pouvez retirer I marqueur de dégats de Bulbizarre.</p>
    </div>
    <div class="attaque_pokemon--number">
    <p>20</p>
    <div>
  </div> 
</main>

<hr class="ligne">